:root{
    --orange: #ff9800;
    --green: #0f0;
    --light-blue: #d6f4ff;
    --blue: #374794;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font: 700 1rem sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 95%;
    height: 60%;
}

section.product-img{
    position: relative;
    width: 40%;
}
section.product-img img{
    width: 100%;
    height: auto;
}

/* magnifier lens */

.magnifier-lens{
    /* top: 0;
    left: 0; */
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #ff980030;
    border: .1px solid var(--orange);
    opacity: 0 ;
}

.magnifier-lens.active{
    opacity: 1;
}


section.product-details{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.product-title{
    font: 600 1.4rem sans-serif;
}
.star{
    font-size: 1.5rem;
    color: var(--orange);
    cursor: pointer;
}
mark{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--green);
    color: #fff;
}
.current-price{
    font: 500 2rem sans-serif;
    color: var(--orange);
}
.orginal-price{
    font: 400 1.2rem sans-serif;
    color: var(--green);
}
.orginal-price del{
    color: #666;
}
.product-promotion{
    font: 500 1rem sans-serif;
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 0.4rem;
    color: var(--blue);
}
.promotion-list{
    list-style: none;
}
.promotion-item:not(:first-child){
    margin-top: 15px;
}
.promotion-item::before{
    content: "\1F380";
}

/* magnified image */
.magnified-img{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid var(--orange);
    background-color: #ff980030;
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}
.magnified-img.active{
    opacity: 1;
    transform: scale(1);
}


